// Task list pattern

.app-link-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  @include media(tablet) {
    min-width: 550px;
  }

  .app-link-list__items {
    padding-left: 0;
  }
}

.app-link-list__section {
  display: table;
}

.app-link-list__section-number {
  display: table-cell;

  @include media(tablet) {
    min-width: govuk-spacing(6);
    padding-right: 0;
  }
}

.app-link-list__items {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  @include govuk-responsive-margin(9, "bottom");
  list-style: none;
  padding-left: 0;
  @include media(tablet) {
    padding-left: govuk-spacing(6);
  }
}

.app-link-list__item {
  border-bottom: 1px solid $border-colour;
  margin-bottom: 0 !important;
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);
  @include govuk-clearfix;
}

.app-link-list__item:first-child {
  border-top: 1px solid $border-colour;
}

.app-link-list__task-name {
  display: block;
  @include media(450px) {
    float: left;
    width: 75%;
  }
}

.app-link-list__task-completed {
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(1);

  @include media(450px) {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.app-link-list__task-progress {
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(1);

  @include media(450px) {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media(min-width: 641px) {
  .app-link-list__items {
    padding-left: 0;
  }
}